
body {
    text-align: center;
    margin: auto;
    background-size: auto;
    font-family: 'Alegreya Sans', sans-serif;
    color: black;
    background-color: lightblue;
}
.button{
}
#button-group{
}